<section class="country-list">
  <section class="mt-5">
    <table class="table table-md mt-2 w-full">
      <thead>
        <th>#</th>
        <th>Código</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </thead>
      <tbody>
        @for (country of countries(); track country.population; let index = $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>
              {{ country.flag.emoji }}
            </td>
            <td>
              <img [src]="country.flag.url_png" class="w-10" [alt]="country.flag.description" />
            </td>
            <td>{{ country.names.common }}</td>
            <td>{{ country.capitals[0].name }}</td>
            <td>
              <span class="badge badge-secondary">
                {{ country.population | number }}
              </span>
            </td>
            <td>
              <a
                [routerLink]="['/country/by', country.codes.alpha_2]"
                class="link-primary cursor-pointer"
              >
                Más información
              </a>
            </td>
          </tr>
        } @empty {
          @if (!isLoading()) {
            <tr>
              <td colspan="6" class="text-center">No se encontraron resultados</td>
            </tr>
          }
        }
        @if (errorMessage()) {
          <tr>
            <td colspan="6" class="text-center">
              {{ errorMessage() }}
            </td>
          </tr>
        }
        @if (isLoading()) {
          <tr>
            <td colspan="6" class="text-center">Buscando países</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</section>
